body { background: #b9bf04; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 25px; display: flex; }
.block-metrics-0 { color: #fbb301; font-size: 15px; margin-bottom: 5px; }
.block-token-1 { color: #444994; font-size: 19px; margin-bottom: 5px; }
.block-notify-2 { color: #a04da0; font-size: 15px; margin-bottom: 5px; }
.block-email-3 { color: #e2ac07; font-size: 16px; margin-bottom: 5px; }
.block-cart-4 { color: #946e89; font-size: 18px; margin-bottom: 5px; }